.discount-button{
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom:1px ;
    background-color: rgb(255,0,0);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}